In [44]:
#import pandas as pd
#Read csv file as a dataframe calles sal

In [41]:
import pandas as pd
sal=pd.read_csv('C:\\Users\\MOUNIKA\\Downloads\\Salaries.csv')

In [45]:
#Head of dataframe

In [46]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [47]:
#info() method

In [38]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [48]:
#Average BAaePay

In [39]:
sal['BasePay'].mean()

66325.44884050643

In [49]:
#Highest amount of overtimepay in the dataset

In [40]:
sal['OvertimePay'].max()

245131.88

In [50]:
#Jobtile of JOSEPH DRISCOLL

In [10]:
dataset[dataset['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [51]:
#How much JOSEPH DRISCOLL make including benifits

In [12]:
dataset[dataset['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [52]:
#Name of highest paid person

In [15]:
dataset[dataset['TotalPayBenefits']==dataset['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [53]:
#lowest paid person

In [16]:
dataset[dataset['TotalPayBenefits']==dataset['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [54]:
#Average basepay of all employees per year

In [17]:
dataset['BasePay'].mean()

66325.44884050643

In [55]:
#Unique jobtitles

In [18]:
dataset.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [19]:
dataset['JobTitle'].nunique()

2159

In [59]:
#Top 5 common jobs

In [21]:
jobs=dataset.groupby('JobTitle').count()
top_five=jobs.sort_values(by='Id', ascending=False)[:5]
top_five['Id']

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

In [58]:
#jobtitle were representes by only one person in 2013

In [23]:
year=dataset[dataset['Year']==2013]
group=year.groupby('JobTitle').count()
count=group[group['Id']==1]
count.count()['Id']

202

In [60]:
#word cheif in the jobtitle

In [29]:
def go_chief(job_title):
    if 'cheif' in job_title.lower().split():
        return True
    else:
        return False

In [33]:
df=pd.read_csv('C:\\Users\\MOUNIKA\\Downloads\\Salaries.csv')

sum

In [34]:
sum(df['JobTitle'].apply(lambda x: go_chief(x)))

0

In [35]:
dataset['title_len']=dataset['JobTitle'].apply(len)

In [61]:
#Is there any correlation between lenght of the Job title string and salary

In [36]:
dataset[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000